<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcul de l'IMC</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Calculateur d'IMC</h2>
        <form method="POST">
            <label for="poids">Poids (kg) :</label>
            <input type="number" name="poids" required>
            <br><br>
            <label for="taille">Taille (m) :</label>
            <input type="number" name="taille" step="0.01" required>
            <button type="submit">Calculer</button>
            <a href="/logout" class="logout-button">Déconnexion</a>
            <a href="/profile" class="profile-button">Mon Profil</a>
        </form>
        
        {% if imc %}
            <p>Votre IMC est : <strong>{{ imc }}</strong></p>
            <p>
                {% if imc < 18.5 %}
                    Vous êtes en sous-poids.
                {% elif 18.5 <= imc < 25 %}
                    Votre poids est normal.
                {% elif 25 <= imc < 30 %}
                    Vous êtes en surpoids.
                {% else %}
                    Vous êtes obèse.
                {% endif %}
            </p>
        {% endif %}  
    </div>
</body>
</html>
